* {
  box-sizing: border-box;
  font-family: var(--primary-font-family);
}
body {
  font-size: 16px;
}
.OuterContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.InnerContainer {
  width: 35%;
  height: 55%;
  background-color: var(--primary-popup-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Lock {
  font-size: 8vh;
}

.Buttons {
  width: 95%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1vh;
}

.Caption {
  font-size: 2.9vh;
  font-weight: 500;
}

.PasswordsContainer {
  width: 95%;
  height: 70%;
  padding: 0 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.PasswordCaption {
  margin: 0;
  font-size: 2vh;
  font-weight: 525;
}

.PasswordField {
  padding: 1.3vh 1.2vh;
  border-radius: 8px;
  height: 32px;
}

.Button {
  font-size: 2.5vh;
  width: 20vh;
  height: 5vh;
}

.CancelButton {
  color: var(--third-color);
  background-color: var(--primary-2-popup-background);
  border: 2px solid var(--third-color);
}

.CancelButton:hover {
  background-color: var(--third-color);
  color: var(--primary-2-popup-background);
}
