@import '../../../App.css';
.MenuButtonContainer{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 90px;
    height: 35px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.MenuButtonContainer:hover {
    cursor: pointer;
    background-color: var(--primary-color-hover);

}
.LoginRegisterButtonContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center; 
    gap: 10px;
}

.customMenu{
    background-color: var(--primary-popup-background) !important; 
}