* {
  box-sizing: border-box;
  font-family: var(--primary-font-family);
}
.OuterContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.InnerContainer {
  width: 68%;
  height: 87%;
  margin: auto;

  background-color: var(--primary-popup-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 1.5vh;
}

.Heading {
  font-size: 3vh;
  font-weight: 500;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  margin: 0;
}

.Main {
  width: 98%;
  height: 63%;
  display: flex;
  flex-direction: row;
}

.Photos {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1vh 1vh;
  padding-bottom: 0.25em;
  overflow: hidden;
}

.Photo {
  position: relative;
  width: calc(50% - 5px);
  height: calc(50% - 5px);
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 6vh;
  color: var(--third-color);
  background-color: var(--third-color-hover);
}

.Delete {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  display: none;
}

.DeleteButton {
  font-size: 6vh;
  background-color: rgba(255, 255, 255, 0);
  color: var(--primary-popup-background);
  cursor: pointer;
}

.DeleteButton:hover {
  color: #f00;
  font-size: 6.5vh;
}

.Photo:hover .Delete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.AddPhotoLabel {
  font-size: 3.2vh;
  border-bottom: 2px var(--third-color) solid;
  cursor: pointer;
}

.AddPhotoLabel:hover {
  font-size: 3.5vh;
}

.InputContainer {
  font-size: 2.5vh;
  padding: 0.8vh 1.5vh;
  padding-left: 0.35em;
}

.MainInfo {
  width: 50%;
}

.Caption {
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 2vh;
}

.Param {
  font-size: 2vh;
  width: 100%;
  height: 4.2vh;
  border: 0.5px solid var(--third-color);
  border-radius: 7px;
}

.CheckBox {
  width: 35vh;
}

.Description {
  width: 98%;
  padding: 1vh 1vh;
}

.TextArea {
  font-size: 2vh;
  height: 5vh;
  border: 1px solid var(--third-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.Buttons {
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  padding: 0.55em 1em;
}

.MainSuggestion {
  font-size: 2vh;
  margin: 0 5px;
}

.CustomInput {
  cursor: auto;
  color: inherit;
  height: 100%;
  font-size: 2vh !important;
}

.Button {
  font-size: 2.5vh;
  width: 20vh;
  height: 5vh;
}

.CancelButton {
  color: var(--third-color);
  background-color: #fff;
  border: 2px solid var(--third-color);
}

.CancelButton:hover {
  color: var(--third-color);
  background-color: #fff;
}
