:root {
  --primary-color: #002462;
  --primary-color-hover:  #003898;
  --secondary-color: #dddfe0;
  --secondary-color-hover: #002462;
  --third-color:#AAAAAA;
  --third-color-hover:#eeeeee;
  --highlight-color:#FFFF00;
  --highlight-color-stroke:#FFD700;
  --text-secondary-color:#A6A6A6;
  --popup-background: #FFFFFF;
  --primary-font-family: 'Poppins';
  --secondary-font-family:'Roboto';
}