:root {
    --primary-color: #002462;
    --primary-color-hover:  #003898;
    --secondary-color: #dddfe0;
    --secondary-color-hover: #002462;
    --popup-background: #eeeeee;
    --font-family: 'Georgia', sans-serif;
  }