*{
  box-sizing: border-box;
  font-family: var(--primary-font-family);
}
.Container {
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  border-radius: 15px;
  border: 2px solid #ccc;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  align-items: center;
  width: 38%;
  min-width: fit-content;
  height: 70%;
  padding: 20px;
  top: 50%;
  left: 50%;

  position: absolute;

  transform: translate(-50%, -50%);
}

.Close{
  width: 100%;
  margin-bottom: 1vh;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.Lock{
  font-size: 13vh;
}

.Main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.MainText{
  font-size: 4vh;
  font-weight: bolder;
  margin: 0;
  margin-top: 4vh;
}

.SecondText{
  font-size: 2vh;
  font-weight:500;
  margin: 2vh;
}

.EmailPrompt{
  font-size: 2vh;
  text-align: center;
  width: 70%;
  min-width: fit-content;
  max-width: 450px;
  padding:0 15%
}
.Button{
  font-size: 2vh;
  margin: 2vh;
  width: 75%;
} 
.ActiveButton{
  cursor: pointer;
  border: 2px solid var(--primary-color);
}
.ActiveButton{
  border: 2px solid var(--primary-color-hover);
}
.DisabledButton{
  color: var(--third-color);
  background-color: var(--primary-2-popup-background);
  border: 2px solid var(--third-color);
  cursor: default;
}
.DisabledButton:hover{
  color: var(--third-color);
  background-color: var(--primary-2-popup-background);
  border: 2px solid var(--third-color);
  cursor: default;
}

.Input {
  font-size: 2vh;
  width: 75%;
  border: none;
  transition: outline 0.3s;
}

.Input:hover,
.Input:focus {
  outline: 1.5px solid #1890ff !important; 
}

.InputInvalid {
  outline-color: #ff6381 !important;
}

.InputInvalid:hover,
.InputInvalid:focus {
  outline-color: #ff6381 !important;
}