.CancelButton{
    font-family: var(--primary-font-family);
    font-size: 20px;
    color: var(--third-color);
    width: 160px;
    height: 36px;
    background-color: var(--primary-2-popup-background);
    border: 2px solid var(--third-color);
    border-radius: 25px;
    cursor: pointer;
}

.CancelButton:hover{
    background-color: var(--third-color);
    color: var(--primary-2-popup-background);
}
