.btn {
  all: unset;
  background: transparent;
  cursor: pointer;
  box-shadow: 0 0 3px 0;
  border-radius: 10px;
  width: 3.5vh;
  height: 3.5vh;
}

@media (width > 1700px) {
  .btn {
    height: 1.7rem;
    width: 1.7rem;
  }
}

.btn-icon {
  color: var(--primary-popup-background);
  background-color: var(--primary-color);
  border-radius: 10px;
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.btn-icon:hover {
  background-color: var(--primary-color-hover);
}
