*,
*::after,
*::before {
    box-sizing: border-box;
}

.side-bar-container {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    width: 20%;
    height: 85%;
    padding: 20px;
    z-index: 990;
    right: 0;
    top: 10%;
    position: absolute;
    overflow: auto;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 0 4px 1px #AAAAAA;
    /* opacity: 0.7; */
}

.heading {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}


/* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-btn {
    /* border: solid; */
    padding: 0;
    background: transparent;
    cursor: pointer;
    border: none;
    
    
}

.close-btn-icon {
    font-size: 0.85rem;
    color: #fff;
    background-color: #002462;
    border-radius: 10px;
}

/* Photo */
.photo-container {
    height: 25%;
}

/* Categories */
.category-container {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    margin-top: 3%;
}

.category {
    margin-right: 15px;
    padding: 1px 8px;
    border: 1.5px #AAAAAA solid;
    border-radius: 5px;
    color: #AAAAAA;
}

/* Date */
.date-container {
    height: 7%;
    display: flex;
    justify-content: space-between;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #AAAAAA;
}

.date-range-container {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start-at {
    display: flex;
}

.expire-at {
    display: flex;
}

.day {
    margin-right: 5px;
    font-weight: 300;
}

.time {
    font-weight: 200;
}

.vl {
    border-left: 1px solid;
    height: 100%;
    position: absolute;
    left: 44%;
}

.location {
    right: 10px;
    width: 40%;
    height: 100%;
    overflow-wrap: break-word;
    display: flex;
    align-items: center;
    /* overflow-y: auto; */
}

.date-btn {
    background: transparent;
    border-radius: 8px;
    border: solid #002462;
    cursor: pointer;
    padding: 3px 5px;
}

/* Participants */
.participant-container {
    display: flex;
    align-items: center;
    /* border: solid; */
    width: 90%;
}

.participants-photos {
    display: flex;
}

.owner-photo {
    position: relative;
    margin-right: 10px;
}

.owner-photo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid #FFD700;
}

.crown-container {
    position: absolute;
    top: 5%;
    right: 5%;
}

.crown-icon {
    color: #FFFF00;
    stroke: #FFD700;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1px;
} 

.participants-photos .item {
    margin-right: 10px;
    
}

.participants-photos img{
    /* border: solid; */
    border-radius: 50%;
}

.participants-photos .item img{
    width: 60px;
    height: 60px;
}

.show-more-participants-btn {
    background-color: #002462;
    padding: 0;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.show-more-participants-btn-icon {
    color: #fff;
    font-size: 2.5em;
}



.show-more-participants {
    width: 60px;
    height: 60px;
}

.show-more-participants button {
    width: 60px;
    height: 60px;;
}

/* About section */

.about-container {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
}

.about-text {
    /* height: 150px; */
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}


.show-more-btn {
    border: none;
    background: transparent;
    color: #002462;
    font-weight: 800;
    align-self: flex-start;
    padding: 0;
    margin: 3% 0;


    cursor: pointer;
}

/* Lower Container */

.lower-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

.spots {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #AAAAAA;
    font-size: 20px;
}

.action-btn {
    padding: 0;
    border: none;
    background-color: #002462;
    color: #fff;
    font-size: 23px;
    width: 35%;
    height: 140%;
    border-radius: 40px;
    cursor: pointer;
}
