.side-bar-container {
    background-color: #fff;
    width: 376px;
    height: 896px;
    border: solid;
    padding: 20px;
    z-index: 999;
    right: 0;
    top: 10%;
    position: absolute;
    overflow: auto;
}

.event-photo {
    width: 350px;
    height: 190px;
}

/* Categories */
.category-container {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
}

.category {
    margin-right: 15px;
}

/* Date */
.date-container {
    margin-top: 10px;
    display: flex;
    position: relative;
}

.start-at {
    display: flex;
}

.expire-at {
    display: flex;
}

.day {
    margin-right: 5px;
}

.date-icon {
    align-self: center;
    position: absolute;
    right: 10px;
}

/* Participants */
.participant-container {
    display: flex;
    border: solid;
    width: 90%;
}

.participants-photos {
    display: flex;
}

.owner-photo {
    margin-right: 10px;
}

.owner-photo img {
    border: solid;
}

.participants-photos .item {
    margin-right: 10px;
}

.participants-photos img{
    border: solid;
}

.participants-photos .item img{
    width: 40px;
    height: 40px;
}

.owner-photo img {
    width: 40px;
    height: 40px;
}

.show-more-participants {
    width: 40px;
    height: 40px;
    border: solid;
}

.show-more-participants button {
    width: 40px;
    height: 40px;;
}

/* About section */
.about-text {
    height: 75px;
    overflow: hidden;
}

.about-text-more {
    height: auto;
    overflow: auto;
}