*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Main container */

.participants-list-container {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  width: 20%;
  min-width: 330px;
  height: 85%;
  top: 80px;
  margin-top: 10px;
  padding: 20px;
  z-index: 991;
  right: 0;
  position: absolute;
  overflow: auto;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  font-family: var(--primary-font-family), sans-serif;
  font-style: normal;
  box-shadow: 0px 0 4px 1px var(--third-color);
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 3.2%;
}

/* Participants list */

.participants-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.participant-container {
  width: 100%;
  height: 72px;
  border: 1px solid var(--third-color);
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.participant-container:hover {
  background-color: var(--third-color-hover);
  cursor: pointer;
}

.participant-photo {
  width: 72px;
  height: 100%;
}

.participant-info-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  margin-left: 3%;
}

.full-name {
  display: flex;
  align-items: center;
  font-weight: 600;
  height: 30px;
  margin: 0;
}

.full-name p {
  margin-right: 5px;
}

.email {
  margin: 0;
}

@media (width < 1280px) {
  .participants-list-container {
    font-size: var(--xxs-size);
  }

  .participant-container {
    height: 60px;
  }

  .participant-photo {
    width: 60px;
    height: 100%;
  }
}

@media (width >= 1280px) and (width < 1700px) {
  .participants-list-container {
    font-size: var(--xxs-size);
  }

  .participant-container {
    height: 60px;
  }

  .participant-photo {
    width: 60px;
    height: 100%;
  }
}
