@import '../../../App.css';

.PrimaryButton {
    display: inline-block;
    width:  90px;
    padding: 8px 16px;
    border: none;
    border-radius: 40px;
    background-color: var(--primary-color); 
    color:    var(--secondary-color);
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: var(--font-family);
    text-align: center;
    
  }
  
  .PrimaryButton:hover {
    background-color: var(--primary-color-hover); 
  }
  