.ChangePasswordButton{
    font-family: var(--primary-font-family);
    font-size: 20px;
    color: var(--primary-color);
    text-align: left;
    text-decoration: underline;
    background-color: #FFF; 
    border: none;
    cursor: pointer;
}

.ChangePasswordButton:hover{
    color: var(--primary-color-hover);
}