.owner-photo {
  position: relative;
  margin-right: 10px;
}

.owner-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid var(--highlight-color-stroke);
  position: relative;
}

.crown-container {
  position: absolute;
  top: 5%;
  right: 5%;
}

.crown-icon {
  color: var(--highlight-color);
  stroke: var(--highlight-color-stroke);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1px;
}
