* {
    box-sizing: border-box;
}

.SideBarMenu {
    height: 100%;
    flex: 1;
    border: 1.5px solid #AAA;
    border-bottom: none;
    padding-left: 16px;
}

.Option {
    font-family: var(--primary-font-family);
    height: 48px;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    line-height: 24px;
    margin: 26px 0 0;
    padding: 0;
}

.Option:first-child {
    margin-top: 46px;
}

.Link {
    display: block;
    color: #AAA;
    text-decoration: none;
    border-bottom: 1.5px solid #AAA;
    padding: 5px 2px 0;
    margin: 0;
}

.Link:hover {
    color: #000;
    background-color: #EEE;
    border-bottom: 2px solid #000;
}
