
.ApplyChangesButton{
    font-family: var(--primary-font-family);
    font-size: 20px;
    color: var(--primary-popup-background);;
    width: 160px;
    height: 36px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.ApplyChangesButton:hover{
    background-color: var(--primary-color-hover);
}
