.backgroundCircle {
    fill: none;
    stroke: #002462;
    stroke-width: 8;
  }
  
  .animatedBorder {
    fill: none;
    stroke: #ddd;
    stroke-width: 8;
    stroke-dasharray: 126;
    transition: stroke-dashoffset 1s linear;
  }
  
  .countdownText {
    color:#002462;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
  }
  