.pop-up-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 350px;
  background-color: var(--primary-popup-background);
  position: absolute;
  /* right: 10%; */
  top: -635%;
  font-family: var(--primary-font-family);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 5px 6px 1px var(--third-color);
  z-index: 995;
}

.header-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  height: 30%;
}

.full-name {
  font-weight: 600;
  font-size: 1.3rem;
}

.participant-img {
  object-fit: cover;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.email {
  display: flex;
  gap: 4px;
  align-items: center;
  color: var(--third-color);
}

.heading {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0;
}

.information {
  margin-left: 6px;
  color: var(--third-color);
}

.location {
  display: flex;
  gap: 4px;
  align-items: center;
}

.birth-date {
  display: flex;
  gap: 4px;
  align-items: center;
}

.description {
  margin-left: 6px;
  color: var(--third-color);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  overflow: hidden;
}

.show-more-btn {
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 3%;
  right: 3%;
}

hr {
  height: 2px;
  background-color: #000;
  opacity: 0.7;
  border: none;
}

.transparent-div {
  position: absolute;
  left: 0;
  height: 20px;
  bottom: -17px;
  opacity: 0;
  width: 100%;
}

@media (width < 1280px) {
  .pop-up-container {
    top: -395%;
    height: 162px;
  }

  .full-name {
    font-size: var(--xs-size);
  }

  .heading {
    font-size: var(--xs-size);
  }

  .information {
    font-size: var(--xxxs-size);
  }

  .email {
    font-size: var(--xs-size);
  }

  .description {
    display: none;
  }

  .participant-img {
    width: 50px;
    height: 50px;
  }

  hr {
    display: none;
  }

  .show-more-btn {
    width: 110px;
    height: 20px;
    font-size: var(--xxs-size);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (width >= 1280px) and (width < 1700px) {
  .pop-up-container {
    height: 300px;
    top: -705%;
  }
  .full-name {
    font-size: var(--xs-size);
  }

  .heading {
    font-size: var(--xs-size);
  }

  .information {
    font-size: var(--xxs-size);
  }

  .email {
    font-size: var(--xxs-size);
  }

  .description {
    /* display: none; */
    font-size: var(--xs-size);
  }

  .participant-img {
    width: 55px;
    height: 55px;
  }
  .show-more-btn {
    font-size: var(--xxs-size);
    width: 110px;
    height: 25px;
  }
}
