.mapcontainer{
    height: 100vh;
    width: 100vw;
    position: relative;
}

body{
    margin: 0px;
    padding: 0px;
    
}
.centerButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  