*{
    box-sizing: border-box;
    font-family: var(--primary-font-family);
}
.OuterContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.InnerContainer {
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    border-radius: 15px;
    border: 2px solid #ccc;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  
    align-items: center;
    width: 38%;
    min-width: fit-content;
    height: 70%;
    padding: 20px;
    top: 50%;
    left: 50%;
  
    position: absolute;
  
    transform: translate(-50%, -50%);
}

.Lock{
    font-size: 8vh;
  }

.Buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 3vh;
}

.Caption{
    font-size: 4vh;
    font-weight: 525;
    padding: 0;
    margin: 0;
}

.InstructionsContainer{
  font-size: 2vh;
  text-align: center;
  width: 70%;
  min-width: fit-content;
  max-width: 450px;
  padding:3% 10%
}

.SecondaryCaption{
    margin: 0.5vh;
    font-size: 2.5vh;
    font-weight: 500;
}

.Instructions{
    text-align: justify;
    font-size: 2vh;
}

.PasswordsContainer{
    padding: 0;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Password{
    padding: 1vh 0;
}

.PasswordCaption{
    margin: 0;
    font-size: 2vh;
    font-weight: 525;
}

.PasswordField{
    font-size: 2vh;
    width: 100%;
    height: 5vh;
    padding: 1vh 0.8vh;
    border-radius: 8px;
}

.ResetButton{
    font-size: 2.5vh;
    margin-top: 2vh;
    width: 70%;
    height: 6vh;
}