.outerContainer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1000;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Вирівнювання елементів по центру по вертикалі */
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 40px;

    width: 55%; /* Ширина блоку */
    margin: auto; /* Автоматичне центрування */
    background-color: #EFEFEF; /* Колір фону блоку */
    padding: 20px; /* Відступи всередині блоку */
    border: 2px solid #ccc; /* Товщина та колір меж блоку */
    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .SignUpForm {
    width: 600px; /* Ширина форми */
    height: auto; /* Висота форми */
    display: flex; 
    flex-direction: column; /* Встановлюємо напрямок відображення на колонки */
    
  }
  
  .Photo {
    border-radius: 45px;
    width: auto; /* Ширина фото */
    height: 450px; /* Автоматична висота для збереження пропорцій */
    
    
  }
  
  .customButton {
    width: 400px;
    height: 40px;
    font-size: 15px;
    right: 25%;
    background-color:rgb(7, 104, 159)
  }

  .Buttons{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

